{
    "firebase": {
        "collectionName": ""
    },
    "reddit": {
        "subreddit": "",
        "maxPosts": 50,
        "minUpvotes": 0,
        "minUpvoteRatio": 0.0,
        "clientId": "",
        "clientSecret": "",
        "refreshToken": ""
    },
    "twitter": {
        "consumer_key": "",
        "consumer_secret": "",
        "access_token_key": "",
        "access_token_secret": ""
    }
}