{
    "firebase": {
        "collectionName": ""
    },
    "reddit": {
        "subreddit": "",
        "maxPosts": 50,
        "minUpvotes": 0,
        "minUpvoteRatio": 0.0,
        "clientId": "",
        "clientSecret": "",
        "refreshToken": ""
    },
    "twitter": {
        "clientId": "",
        "clientSecret": "",
        "accessToken": "",
        "refreshToken": "",
        "accessTokenCreateTime": 0,
        "accessTokenExpiresIn": 0
    }
}